@model ConferenceEditModelView
<div class="row">
    <div class="col-md-9">
        <form asp-controller="Conferences" asp-action="Edit">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input asp-for="ConferenceId" type="hidden" />
            <div class="form-group">
                <label asp-for="DateConference" class="control-label"></label>
                <input asp-for="DateConference" class="form-control" />
                <span asp-validation-for="DateConference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <table id="myRows" class="table">
                    @for (int i = 0; i < Model.Contacts.Count; i++)
                    {
                    <tr class="myrow">
                        <td class="section table-column-center">
                            <label asp-for="Contacts[i].DisplayName" class="control-label"></label>
                            <p class="form-control">@Model.Contacts[i].DisplayName</p>
                            @*<input value="@Model.Contacts[i].DisplayName" asp-for="Contacts[i].DisplayName" class="form-control" />*@
                            <span asp-validation-for="Contacts[i].DisplayName" class="text-danger"></span>
                        </td>
                        <td class="section table-column-center">
                            <label asp-for="Contacts[i].PhoneNumber" class="control-label"></label>
                            <p class="form-control">@Model.Contacts[i].PhoneNumber</p>
                            @*<input value="@Model.Contacts[i].PhoneNumber" asp-for="Contacts[i].PhoneNumber" class="form-control" />*@
                            <span asp-validation-for="Contacts[i].PhoneNumber" class="text-danger"></span>
                        </td>
                        @*<td class="item-add">
                            <input class="form-control" type="submit" name="button" asp-route-deleteId="@i" value="Delete row" />
                        </td>*@
                    </tr>
                    }

                </table>
            </div>
            @*<div class="item-add">
                <a id="add-row" class="link-button btn btn-primary">Add Row</a>
            </div>*@
            <br />
            @*<div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>*@
        </form>
    </div>
</div>
@*@section Scripts
{
    <script>
        $("#add-row").click(function () {
            var nextId = $(".myrow").length;

            var rowHtml = '<tr class="myrow">' +
                '<td class="section table-column-center" >' +
                '<input class="form-control" type="text" id="Items_' + nextId + '_Name" name="Contacts[' + nextId + '].DisplayName" value=""/>' +

                '<span class="text-danger field-validation-valid" data-valmsg-for="Items[' + nextId + '].Name" data-valmsg-replace="true"></span>' +

                '</td>' +

                '<td class="section table-column-center">' +
                '<input class="form-control" type="text" id="Items_' + nextId + '_Description" name="Contacts[' + nextId + '].PhoneNumber" value=""/>' +

                '<span class="text-danger field-validation-valid" data-valmsg-for="Contacts[' + nextId + '].PhoneNumber" data-valmsg-replace="true"></span>' +

                '</td>' +
                '<td class="section table-column-center">' +
                '<input class="form-control" type="submit" id="Items_' + nextId + '_Button" name="button ' + nextId + '" value="Delete" formaction="/Conferences/Edit/?deleteId='+nextId+'"/>' +

                '</td>' +

                '</tr>';

            $("#myRows").append(rowHtml);
        });
    </script>
}*@